 body { font-family: sans-serif; margin: 0; padding: 0; }
        header {
            background-color: #502c2c;
            color: white;
            padding: 20px;
            text-align: center;
        }
            nav {
            background-color: #502c2c;
            padding: 10px;
            position: sticky;
            top: 0;
            z-index: 100;
        }
        nav ul {
            font-size: 30p;
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            gap: 20px;
        }
        nav a { color:white}
        section { flex: 3; padding-right: 20px; }
        display: flex;
            padding: 20px;
            gap: 20px;
            min-height: 150vh;
        section {
            flex: 3;
            background-color: #ecf0f1;
            padding: 20px;
            position: relative; 
            top: 0; 
            left: 0;
        }
        footer { background-color: #251f1f; color: white; text-align: center; padding: 1rem; margin-top: 20px; }
        