 body { font-family: sans-serif; margin: 0; padding: 0; }
        header {
            background-color: #502c2c;
            color: white;
            padding: 20px;
            text-align: center;
        }
        nav { background-color: #251f1f; color: white; padding: 0.5rem; }
        nav ul { margin: 0; padding: 0; list-style: none; display: flex; justify-content: center; gap: 15px; }
        nav a { color: white; text-decoration: none; }
        .container { display: flex; padding: 20px; }
        section { flex: 3; padding-right: 20px; }
        aside { flex: 1; background-color: #f4f4f4; padding: 15px; border-left: 1px solid #ccc; }
        footer { background-color: #251f1f; color: white; text-align: center; padding: 1rem; margin-top: 20px; }